<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>20000</particles>
  <batches>2500</batches>
  <inactive>200</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="fission">
      <parameters>-11.9 0.0 -19.5 13.9 0.0 19.5</parameters>
    </space>
  </source>
</settings>
